<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473900692643-opgv946l19m8avag2p5249p8j9mq95qu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473900692643-opgv946l19m8avag2p5249p8j9mq95qu</string>
	<key>API_KEY</key>
	<string>AIzaSyDVZaq5N-N8uVXZqF6aWFkoby3IuAHXsZE</string>
	<key>GCM_SENDER_ID</key>
	<string>473900692643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brainbytescreative.MilestoneTracker.dev</string>
	<key>PROJECT_ID</key>
	<string>actearly-2d4b9</string>
	<key>STORAGE_BUCKET</key>
	<string>actearly-2d4b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473900692643:ios:0439230eee6cdb36fabb16</string>
	<key>DATABASE_URL</key>
	<string>https://actearly-2d4b9.firebaseio.com</string>
</dict>
</plist>